@page
@model sem2.riverStations.urbanec.ait4.Pages.Shared.IndexModel

@{
    ViewData["Title"] = "Index";
}


<style>
    .page-container {
        display: flex;
        justify-content: center;
    }

    .stations-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px; /* Optional: Limit maximum width of stations container */
    }

    .station {
        position: relative;
        width: 200px;
        height: 100px;
        background-color: white;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    .danger-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        color: red;
        width: 50px;
        height: 50px;
    }

        .no-stations-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .no-stations-message p {
        font-size: 1.5em;
        text-align: center;
    }
</style>

<h1>River Stations</h1>
@if (Model.Stations.Count <= 0)
{
    <div class="no-stations-message">
        <p>There are no stations added yet. You can add a new station in the <strong>Stations</strong> card on the top of this page.</p>
    </div>
}
<div class="page-container">
    <div class="stations-container">
        @foreach (var station in Model.Stations)
        {
            <div class="station" style="background-color: @(station.MeanValue > station.FloodWarningValue ? "red" : station.MeanValue < station.DroughtWarningValue ? "yellow" : "white"); border: 5px solid black;">
                <h3>@station.StationName</h3>
                @if (station.MeanValue > station.FloodWarningValue)
                {
                    <svg class="danger-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="yellow">
                      <text x="0" y="18" font-size="20">&#9888;</text>
                    </svg>
                }
                else if (station.MeanValue < station.DroughtWarningValue)
                {
                    <svg class="danger-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="red">
                      <text x="0" y="18" font-size="20">&#9888;</text>
                    </svg>
                }
                <p>Average Value: <strong>@station.MeanValue</strong></p>
            </div>
        }
    </div>
</div>
<script>
    setInterval(function() {
        location.reload();
    }, 5000);
</script>